<%= turbo_frame_tag "persons-list" do %>
  <div class="container-fluid scaffold-list">
    <h4>PERSONS</h4>

    <%= render partial: "admin/persons/new_button", locals: {account: account}%>

    <div class="row scaffold-row">
      <div class='col'  style='flex-basis: 85%'>Name</div>
      

      <div class='col scaffold-col-heading scaffold-col-heading-buttons' style="flex-basis: 150px"></div>
    </div>

      <% if persons.empty? %>
        <div>
            None
        </div>
      <% end %>
      <% persons.each do |person| %>
        <%= render partial: 'admin/persons/line', locals: {person: person, account: account } %>
      <% end %>

    <% if persons.respond_to?(:total_pages) %><%= paginate(persons) %> <% end %>
  </div>
<% end %>
