<div class='scaffold-cell'  style='flex-basis: 85%'>
  <%= person.name %>
</div>



<div class="scaffold-cell scaffold-line-buttons" style="flex-basis: 150px;">
  
    <%= form_with url: admin_account_person_path(account,person), html: {style: "display: inline-block;"}, method: :delete do |f| %>
      <%= f.submit "Delete".html_safe, data: {confirm: 'Are you sure?'}, class: "delete-person-button btn btn-primary btn-sm" %>
    <% end %>
  


  

  
  <%= link_to "Edit <i class='fa fa-1x fa-list-alt'></i>".html_safe, edit_admin_account_person_path(account,person), disable_with: "Loading...", class: "edit-person-button btn btn-primary btn-sm" %>
  
</div>
