<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="clearfix"></div>
      <%= render partial: 'admin/persons/list',
              locals: {persons: @persons, account: @account } %>
    </div>
  </div>
</div>
