<%= turbo_frame_tag "accounts-list" do %>
  <div class="container-fluid scaffold-list">
    <h4>ACCOUNTS</h4>

    <%= render partial: "admin/accounts/new_button", locals: {}%>

    <div class="row scaffold-row">
      <div class='col'  style='flex-basis: 15%'>Name</div>
<div class='col'  style='flex-basis: 15%'>Is admin</div>
<div class='col'  style='flex-basis: 15%'>Email</div>
       <div class="col scaffold-col-heading" style="flex-basis: 45%">
      <h4>
        Persons
      </h4>
      </div> 

      <div class='col scaffold-col-heading scaffold-col-heading-buttons' style="flex-basis: 150px"></div>
    </div>

      <% if accounts.empty? %>
        <div>
            None
        </div>
      <% end %>
      <% accounts.each do |account| %>
        <%= render partial: 'admin/accounts/line', locals: {account: account } %>
      <% end %>

    <% if accounts.respond_to?(:total_pages) %><%= paginate(accounts) %> <% end %>
  </div>
<% end %>
