<%= turbo_frame_tag "accounts-list" do %>
  <div class="container-fluid ">
    <h4>ACCOUNTS</h4>

    <%= render partial: "admin/accounts/new_button", locals: {}%>

    <div class="row">
      <div class='col'  style='flex-basis: 14%'>Name</div>
<div class='col'  style='flex-basis: 14%'>Is admin</div>
<div class='col'  style='flex-basis: 14%'>Email</div>
       <div class="col" style="flex-basis: 50%">
      <h4>
        Persons
      </h4>
      </div> 

      <div class='col buttons-col' style="flex-basis: 7%"></div>
    </div>

      <% if accounts.empty? %>
        <div>
            None
        </div>
      <% end %>
      <% accounts.each do |account| %>
        <%= render partial: 'admin/accounts/line', locals: {account: account } %>
      <% end %>

    <% if accounts.respond_to?(:total_pages) %><%= paginate(accounts) %> <% end %>
  </div>
<% end %>
